@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SOCSeafood.Models.Newsletter

<div id="subDel">
    <h2>Are you sure you want to delete your newsletter subscription?</h2>
    <hr />
    <div class="table">
        @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
        @using (Html.BeginForm())
        {
            <input type="submit" value="Delete" />
        }
        @Html.ActionLink("Account Home", "Index")
    </div>
</div>