@{
    ViewData["Title"] = "Newsletter Subscription Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SOCSeafood.Models.Newsletter
<div id="subDetails">
    <h2>Newsletter subscription information:</h2>
    <ul>
        <li>Email: @Html.DisplayFor(model => model.Email)</li>
        <li>Specified Interest: @Html.DisplayFor(model => model.Interest)</li>
        <li>Subscription Date:@Html.DisplayFor(model => model.SubscribeDate)</li>
        <li>Subscribed: @Html.DisplayFor(model => model.IsSignedUp)</li>
    </ul>
    <p>@Html.ActionLink("Account Home", "Index")</p>
</div>