@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Hello, @User.Identity.Name</h2>
<hr />
@Html.ActionLink("Sign up for our newsletter", "Create")