@{
    ViewData["Title"] = "All Newsletter Subscribers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SOCSeafood.Models.Newsletter>

<hr />
<div id="subList">
    @Html.ActionLink("Account home", "Index")
    @if (Model.Any())
    {
        <h2>Newsletter subscribers:</h2>
        <ul>
            @foreach (var newsletter in Model)
            {
                <li>@Html.DisplayFor(model => newsletter.Email)</li>
            }
        </ul>
    }

    else
    {
        <p>No subscriptions yet</p>

    }
</div>