@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="intro">
<h2>A word from our owner</h2>
    <img src="~/Images/TheJesus.jpg" />
    <p>Nobody messes with the Jesus</p>
<hr/>
<h2>Our humble beginning</h2>
<p>The history of Son of Cod Seafood began in 2005, when founder Jesus Quintana was welcomed back to the family fishing fleet by his older brother Liam after serving 6 months in Chino. Jesus seized the opportunity and worked tirelessly to develop a killer new fishing methods, and debuted at the Portland Farmers Market in 2005. Son of Cod Seafood was an instant hit. What began as one man’s journey has turned into so much more. Today, Son of Cod Seafood is the #1 organic Seafood in America, with distribution in all 50 states as well as Canada.  Additionally, approximately 1 in 3 of the more than 300 employee-partners at the company’s Milwaukie, Oregon processing plant has a criminal background. These individuals demonstrate the commitment, the passion and the power to learn and grow, becoming some of the company’s most valued and trusted workers, filling positions from entry level jobs to management positions responsible for hundreds of employees and critical company operations.</p>
    <p>@Html.ActionLink("Testemonials", "Review")</p>
    <img src="~/Images/lastsupper.jpg" />
</div>