@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="testimonials">
    <h2>El Duderino, long-time customer</h2>
    <p>"Son of Cod Seafood really ties the meal together, man."</p>
</div>

<div id="testimonials2">
    <h2>Walter Solbchak, Vietnam Veteran</h2>
    <p>"I haven't had seafood this fresh since 'Nam."</p>
</div>